<% if session[:views_remaining] > 0 %>
    <p> page views remaining: <%= session[:views_remaining] %>

        <h1><%= @lyrics.song.title %></h1>

        <div>

        <% @lyrics.lines_of_lyrics do |lines| %>
            <p><%= link_to lines %></p>
        <%end%>
        </div>

    <% else %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sxKF19jYk68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <%= button_to "I watched the whole ad", "/sessions/reset_views", method: :patch, class:"button" %>
<% end %>
