<h1> User index </h1>

<%= button_to "Add New User", new_user_path, method: :get %>

<ul> 
    <% @users.each do |user| %>
    <li><%= link_to user.username, user_path(user) %><li> 
    <br>
    <% end %> 
</ul>
