<h1> User index </h1>

<%= button_to "Add New User", new_user_path, method: :get %>

<ul> 
    <% @users.each do |user| %>
<<<<<<< HEAD
    <li><%= link_to user.username, user_path(user) %></li> 
    <br>

    <% end %> 

=======
    <li><%= link_to user.username, user_path(user) %><li> 
    <br>
    <% end %> 
>>>>>>> 9521e599159f6928d257f6a264b06141a170f145
</ul>
